Django>=4.2,<5
djangorestframework>=3.14
django-cors-headers>=4.3
dj-database-url>=2.2
psycopg2-binary>=2.9
python-dotenv>=1.0
PyJWT>=2.8.0
Pillow>=10.0.0
Pillow>=10.0.0
gunicorn>=21.2,<24
firebase-admin>=7.1,<8
